
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1494208669576'); /* IE9*/
  src: url('iconfont.eot?t=1494208669576#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1494208669576') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1494208669576') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1494208669576#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-notice:before { content: "\e603"; }

.icon-XGLJ:before { content: "\e619"; }

.icon-xinxigongkai:before { content: "\e63e"; }

.icon-wenjian:before { content: "\e62c"; }

.icon-ZXFW:before { content: "\e613"; }

.icon-LXWM:before { content: "\e610"; }

.icon-WMZX:before { content: "\e62a"; }

.icon-SZGZ:before { content: "\e677"; }

.icon-CJCX:before { content: "\e601"; }

.icon-ZKFW:before { content: "\e6d9"; }

.icon-XLFZYFW:before { content: "\e602"; }

.icon-XZZQ:before { content: "\e65e"; }

.icon-search:before { content: "\e8e0"; }

.icon-xiaolian:before { content: "\e600"; }

.icon-WYBM:before { content: "\e6b0"; }

