<div class="news-tab-content" style="display:none;">
    <div class="news-tab-first">
        {{if data.first.image}}
        <img src="{{data.first.image}}" width="171px" height="105px" class="first-pic" />
        {{/if}}
        <div class="details">
            <h3><a href="{{data.first.href}}" target="_blank">{{data.first.title}}</a></h3>
            <p>{{data.first.text}}
                <a href="{{data.first.href}}" class="tab-first-more"><span>了解详细</span></a>
            </p>
        </div>
    </div>
    {{if data.list.length > 0 }}
    <ul class="news-tab-list clearfix">
        {{each data.list as item i}}
            <li><a href="{{item.href}}" target="_blank" title="{{item.ori_title}}">{{item.title}}</a><span>{{item.date | dateFormat:'YYYY-MM-DD'}}</span></li>
        {{/each}}
    </ul>
    <a href="{{data.category.href}}" class="more"><span>查看更多</span></a>
    {{else}}
    <span class="no-data">暂无数据</span> 
    {{/if}}
</div>